<%= render ContainerComponent.new do %>
  <%= turbo_frame_tag :modal do %>
    <button
      aria-label="Close Dialog"
      class="absolute top-0 right-0 p-3 leading-none text-sm flex items-center z-30"
      data-action="click->modal#toggle"
      type="button"
      style="z-index: 30;"
    >
      <%= tag.i(class: "fal fa-times-circle fa-2x") %>
    </button>
    <%= tag.div(id: "recipe_list") do %>
      <%= render SectionCardComponent.new(title: @facade.user_recipe.name) do %>
        <%= render "form", facade: @facade %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
