<%= tag.div(class: "bg-gray-200 gap-2 p-4 mb-6") do %>
    <%= render ContainerComponent.new do %>
    <h1>Recipes</h1>
    <%= tag.div(class: "flex justify-between items-center") do %>
      <%= tag.div(class: "flex flex-wrap items-center gap-2") do %>
        <%= render SearchFormComponent.new(@facade.search_data) %>
        <%= tag.div(class: "mt-6") do %>
          <%= render FilterComponent.new(@facade.meal_type_filter_data) %>
          <%= render FilterComponent.new(@facade.recipe_category_filter_data) %>
        <% end %>
      <% end %>
      <%= render ButtonLinkComponent.new(button_link_data: @facade.new_user_recipe_link_data) %>
    <% end %>
  <% end %>
<% end %>
<%= render ContainerComponent.new(id: "recipe") do %>
  <%= render "recipe_list", recipes: @facade.collection.to_a, pagy: @facade.pagy %>
<% end %>

