<%= tag.div(class: "bg-gray-200 gap-2 p-4 mb-6") do %>
  <%= render ContainerComponent.new do %>
    <%= tag.div(class: "flex items-center justify-between") do %>
      <h1>Meal Planner</h1>
      <%= tag.div do %>
        <%= tag.div(class: "flex flex-row gap-2") do %>
          <%= button_to(
            render(IconComponent.new(IconComponent::Data[:calendar, :fal]).with_content("Export To Calendar")),
            meal_planner_calendar_exports_path(format: :ics),
            method: :post,
            form: { target: "_blank", data: { turbo: false } },
            class: "text-sm text-white font-bold bg-secondary p-2 rounded"
          ) %>
          <%= render ModalButtonComponent.new(button_link_data: @facade.export_button_data) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= tag.div(id: "list-view") do %>
  <%= render partial: "calendar", locals: { facade: @facade } %>
<% end %>
<%= render ContainerComponent.new do %>
  <h1 class="text-2xl font-bold mb-6 text-[#8CB369]">Selected Recipes</h1>
  <%= render partial: "selected_recipes", locals: { selected_recipes: @facade.selected_recipes } %>
<% end %>

