<%= render "cta" %>
<section class="bg-white py-12">
  <%= render ContainerComponent.new do %>
    <h2 class="text-3xl font-bold text-gray-900 mb-6">Featured Meal Plans</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <%= render partial: "public/meal_plan", collection: @facade.meal_plans %>
    </div>
  <% end %>
</section>
<%= render ContainerComponent.new do %>
      <h2 class="text-3xl font-bold text-gray-900 mb-6">Featured Recipes</h2>

  <div id="recipes">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <%= render partial: "public/recipe", collection: @facade.recipes %>
    </div>
  </div>
<% end %>
