<!DOCTYPE html>
<html>
  <head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
    <%= render "application/favicon_meta_data" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <link
      href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap'
      rel="stylesheet"
    >
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <link
      crossorigin="anonymous"
      href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-iKbFRxucmOHIcpWdX9NTZ5WETOPm0Goy0WmfyNcl52qSYtc2Buk0NCe6jU1sWWNB"
      rel="stylesheet"
    >
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
    />
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
  </head>
  <% if Rails.env.production? %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YGE1YTMB6D"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YGE1YTMB6D');
  </script>
  <% end %>
  <body class="flex min-h-screen modal" data-controller="modal" data-controller="navbar">
    <%= tag.div do %>
      <%= render "application/flash", flash: flash %>
    <% end %>
    <%= render "application/modal" %>
    <%= render "application/sidebar" %>
    <div class="w-full flex flex-col h-screen overflow-y-hidden">
      <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
        <div class="w-1/2"></div>
        <div class="relative w-1/2 flex justify-end" data-controller="toggle">
            <button
              data-action="click->toggle#setToggle"
              class="relative z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-200 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
                <%= image_tag Current.user.image if Current.user.image.persisted? %>
            </button>
            <div class="z-20 absolute w-32 bg-white rounded-lg border border-gray-200 py-2 mt-12 hidden" data-toggle-target="toggle">
              <%= link_to("Profile", account_profile_path, class: "block px-4 py-2") %>
              <%= button_to("Sign Out", [:user, :session], method: :delete, data: { "turbo-method": :delete }, class: "block px-4 py-2") %>
            </div>
        </div>
      </header>

    <header class="w-full bg-primary py-5 px-6 sm:hidden">
      <div class="flex items-center justify-between">
          <%= tag.p(class: "text-white text-3xl font-semibold uppercase") { "Prep2Plate" }%>
          <button data-action="navbar#toggleOpen" class="text-white text-3xl focus:outline-none">
            <i data-navbar-target="openButton" class="fal fa-bars !hidden"></i>
            <i data-navbar-target="closeButton" class="fal fa-times"></i>
          </button>
      </div>

      <!-- Dropdown Nav -->
      <nav data-navbar-target="navbar" class="flex flex-col pt-4">
        <%# render NavItemComponent.with_collection(@active_menu_items) %>
      </nav>
    </header>
      <div class="w-full overflow-x-hidden border-t border-gray-200 flex flex-col h-screen">
        <main class="w-full flex-1 h-screen overflow-x-hidden border-l border-gray-200">
          <%= yield %>
        </main>
      </div>
    <footer class="w-full bg-white text-right p-2 sticky top-[100vh] font-medium border-t border-l border-gray-200">
      <%= tag.p { "Copyright © #{Time.now.year}"} %>
    </footer>
    </div>
  </body>
</html>
